<!--
<ion-view cache-view="false" title="健康信息" >

  <ion-nav-bar class="bar-dark nav-title-slide-ios7 green-bg" style="" >
      <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="left" >
         <button class="button button-clear"  ng-click="Goback()"><i class="icon ion-chevron-left"></i>返回</button>
      </ion-nav-buttons>
      <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="right" >
         <button class="button button-clear" ng-click="newHealth()"><i class="icon iconfont icon-add1"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>
  &lt;!&ndash;<ion-nav-bar class="bar-dark nav-title-slide-ios7 green-bg" style="" >
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>&ndash;&gt;


  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content  style="">

    <ion-list>
      <ion-item ng-repeat="item in items" ng-click="gotoHealthDetail($event,item)">
        <div class="row">
          <div class="col-25">
          <div ng-repeat = "img in item.url">
            <img ng-src="{{img}}" style="width: 100%">
          </div>
          </div>
          <div class="col-75">
            <div>
              <h2 style="float:left;margin-left:3%">{{item.label}}</h2>
              <p style="text-align:right">{{item.time}}</p>
            </div>
            <div>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>

        <div style="text-align: right">
          <button class="button button-clear" style="color:#666"><i class="icon ion-trash-a"></i></button>
          &lt;!&ndash; <button class="button button-clear" style="color:#666" ng-click="EditHealth(item)"><i class="icon ion-edit"></i></button> &ndash;&gt;
        </div>

      </ion-item>
    </ion-list>






  </ion-content>

</ion-view>
-->
<ion-view title="健康信息">
  <ion-nav-bar class="bar-positive green-bg align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-plus-empty fc-ff" ng-click=""></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="item" ng-repeat="item in items" ng-click="gotoHealthDetail($event,item)">
        <div class="clearfix"><span class="f-fl f-w-5">{{item.label}}</span><span class="f-fr f-w-5">2017-04-11</span></div>
        <p class="mt-5 fc-6c">{{item.description}}</p>
        <div class="health-img-box clearfix nb npl">
          <div class="health-img" ng-repeat = "img in item.url"><img src="{{img}}"></div>
        </div>
        <div class="text-right " style="margin-top: 15px"> <i class="iconfont icon-del f-24" style="font-size: 24px"></i>
          <i class="iconfont icon-bianji f-32 ml-10" style="font-size: 32px" ng-click="EditHealth(item)"></i>
        </div>
      </div>

    </div>

  </ion-content>


</ion-view>
